.Box{
    background-color: #6495ed;
    border:solid black;
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 1px;

}
.Box1{
    background-color: #9ae10d;
    border: solid black;
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 1px;

}
.Box2{
    background-color: #e90e71;
    border: solid black;
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 1px;

}
.Box3{
    background-color: #5c990bb5;
    border: solid black;
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 1px;

}
.Box4{
    background-color: #0beafae5;
    border:solid black;
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 1px;

}
.Box5{
    background-color: #2b0ecf;
    border:solid black;
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 1px;

}
.Box6{
    background-color: #f71111;
    border: solid black;
    height: 100px;
    width: 100px;
    float:left;
    margin-left: 1px;

}
.Box7{
    background-color: #860ff6;
    border: solid black;
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 1px;

}
.Box8{
    background-color: #f44809;
    border:solid black;
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 1px;

}
.Box9{
    background-color: #77e708;
    border: solid black;
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 1px;

}